<div class="row" id="admin-page-users">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <p style="text-align: right">
                <button class="btn btn-info btn-sm">添加</button>
            </p>
        </div>
        <div class="row"
             style="height: 500px;overflow-y:scroll;">
            <table class="table table-bordered table-hover table-striped">
                <caption class="caption">所有用户</caption>
                <tr>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>角色</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                    <th>操作</th>
                </tr>
                <tr v-for="item,index in users">
                    <td><span style="font-weight: bolder">{{item.username}}</span></td>
                    <td>{{item.password}}</td>
                    <td>{{item.role}}</td>
                    <td>{{new Date(item.createTime).toLocaleString()}}</td>
                    <td>{{new Date(item.updateTime).toLocaleString()}}</td>
                    <td>
                        <button @click="updateUserById(item.userId)" class="btn btn-sm btn-success">修改</button>
                        <button @click="removeUserById(item.userId)" class="btn btn-sm btn-danger">删除</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    var users=new Vue({
        el:'#admin-page-users',
        data:{
            users:[]
        },
        methods:{
            updateUserById:function (val) {
                console.log('修改用户：'+val)
            },
            removeUserById:function (val) {
                console.log('删除用户：'+val)
            },
            getAllUsers:function () {
                var url = "/user/getAllUsers";
                var param={
                    usertoken:'1D2B42EAF3FF292A71C417F1C97A5JDJ'
                }

                $.ajax({
                    url:url,
                    type:'get',
                    data:param,
                    dataType:'json',
                    success:function (result) {
                        users.users.splice(0,users.users.length);
                        for(var i=0;i<result.data.length;i++){
                            users.users.push(result.data[i])
                        }
                    }
                })
            }
        },
        mounted:function () {
            this.getAllUsers()
        }
    })
</script>