<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Title</title>
</head>
<body>


<div>
    <ul class='wutong-list'>
        <li>a） 验收应对变压器外观、动作、信号进行检查核对。</li>
        <li>b） 验收应核查变压器交接试验报告，对交流耐压试验、局放试验进行旁站见证，同时可对相关交接试验项目进行现场抽检。</li>
        <li>c） 验收应检查、核对变压器相关的文件资料是否齐全。</li>
        <li>d） 交接试验验收要保证所有试验项目齐全、合格，并与出厂试验数值无明显差异。</li>
        <li>e） 电压等级不同的变压器，根据不同的结构、组部件选用相应的验收标准。</li>
        <li>f） 竣工（预）验收工作按照附录A13、附录A14、附录A15要求执行。</li>
    </ul>
</div>

</body>
</html>